<p>
	<button ng-show="newPostCtrl.auth" ng-hide="postData.is_locked" ng-click="newPostCtrl.toggleNTP()" class="highlight"><i ng-class="{ 'icon-remove': newPostCtrl.showNTP, 'icon-add': newPostCtrl.showNTP == false }"></i> Reply</button>
</p>
<div ng-show="newPostCtrl.showNTP && newPostCtrl.auth" class="panel">
	<div class="end">
		Reply
	</div>
	<div class="body">
		<div class="margin-fix">
			<form>
				<p>
					<textarea class="full" placeholder="Post" ng-model="contents"></textarea>
				</p>
				<p>
					<button class="highlight full" ng-click="newPostCtrl.addReply(contents)"><i ng-show="newPostCtrl.submitting" class="icon-refresh fa-spin"></i> Post</button>
				</p>
			</form>
		</div>
	</div>
</div>