<p>
	<button ng-click="newPostCtrl.toggleNTP()" class="highlight"><i class="fa" ng-class="{ 'fa-minus': newPostCtrl.showNTP, 'fa-plus': newPostCtrl.showNTP == false }"></i> Reply</button>
</p>
<div ng-show="newPostCtrl.showNTP" class="panel">
	<div class="end">
		Reply
	</div>
	<div class="body">
		<div class="margin-fix">
			<form>
				<p>
					<textarea class="full" placeholder="Post" ng-model="contents"></textarea>
				</p>
				<p>
					<button class="highlight" ng-click="newPostCtrl.addReply(contents, topicId)">Post</button>
				</p>
			</form>
		</div>
	</div>
</div>
