<div>
	<ul class="box posts-list">
		<span class="post-no-items" ng-hide="posts.list.length > 0 && !posts.failed">No replies available.</span>
		<span class="post-error" ng-show="posts.failed">There was an unexpected error. </span>
		<li class="post-item" ng-repeat="post in posts.list">
			<div class="post-avatar"></div>
			<div class="post-stats">{{ post.author_name }} <span class="topics-time">posted {{ post.post_date | date }}</span></div>
			<div class="post-contents">{{post.contents}}</div>
		</li>
	</ul>
</div>
