<div>
	<div class="load-error" ng-show="posts.error"><i class="fa fa-2x fa-exclamation-triangle"></i> Loading failed.</div>
	<div class="loading" ng-hide="posts.loaded"><i class="fa fa-2x fa-refresh fa-spin"></i></div>
	<ul class="box posts-list">
		<li class="list-item" ng-repeat="post in posts.list">
			<div class="list-avatar"></div>
			<div class="list-stats">{{ post.author_name }} <span class="list-time">posted {{ post.post_date | relativeDate }}</span></div>
			<div class="list-contents">{{ post.contents }}</div>
		</li>
	</ul>
</div>