
.topics-avatar, .users-avatar {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	background-image: url(//aviv.ml/avatar.svg);
	background-size: cover;
	margin-right: 10px;
	float: left;
}

.topics-stats, .users-stats {
}

.topics-title, .users-title {
	font-weight: 600;
}
.topics-time, .users-time {
	opacity: .7;
	font-size: small;
}

.topics-list>li, .users-list>li {
	cursor: pointer;
}

.topics-list>li:hover, .users-list>li:hover {
	background-color: rgb(253, 253, 253);
}

.topics-list>li:before, .users-list>li:before, .topics-list>li:after, .users-list>li:after { content: ""; display: table; } .topics-list>li:after, .topics-list>li:after { clear: both; }

div.container {
	position: relative;
}

#main {
	opacity: 1;
}
#main.ng-enter, #main.ng-leave {
	-webkit-transition: all 1.5s ease;
	transition: all 1.5s ease;
}
#main.ng-enter {
	opacity: 0;
}
#main.ng-enter-active {
	opacity: 1;
}
#main.ng-leave {
	opacity: 1;
}
#main.ng-leave-active {
	opacity: 0;
}

.auth-login, .auth-hi {
	text-decoration: none;
}

.nav {
	background-color: #2e2e2e;
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 100000;
	top: 0;
	height: 40px;
	cursor: default;
}

.nav * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	color: white;
	padding: 0;
	cursor: pointer;
}

.nav>nav-btn, .nav>auth-status {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	display: inline-block;
	cursor: pointer;
}