
.topics-avatar, .users-avatar {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	background-image: url(//aviv.ml/avatar.svg);
	background-size: cover;
	margin-right: 10px;
	float: left;
}

.topics-title, .users-title {
	font-weight: 600;
}
.topics-time, .users-time {
	opacity: .7;
	font-size: small;
}

.topics-list>li, .users-list>li {
	cursor: pointer;
}

.topics-list>li:hover, .users-list>li:hover {
	background-color: rgb(253, 253, 253);
}

.topics-list>li:before, .users-list>li:before, .topics-list>li:after, .users-list>li:after { content: ""; display: table; } .topics-list>li:after, .topics-list>li:after { clear: both; }

div.container {
	position: relative;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
#main.ng-enter,
#main.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
#main.ng-enter {
    opacity: 0;
}
#main.ng-enter-active {
    opacity: 1;
}
#main.ng-leave {
    opacity: 1;
}
#main.ng-leave-active {
    opacity: 0;
}

.auth-login, .auth-hi {
	text-decoration: none;
}

nav-btn>a {
	text-decoration: none;
	color: #ffffff;
}

auth-status>span>a {
		color: #ffffff;
}

ul.tag-list {
	padding: 5px;
}

div.loading, div.load-error {
	text-align: center;
}
