<p>
	<button ng-show="newTopicCtrl.auth" ng-click="newTopicCtrl.toggleNTP()" class="highlight"><i ng-class="{ 'icon-remove': newTopicCtrl.showNTP, 'icon-add': newTopicCtrl.showNTP == false }"></i> New Topic</button>
	<tag-list></tag-list>
</p>
<div ng-show="newTopicCtrl.showNTP" class="panel" ng-show="newTopicCtrl.auth">
	<div class="end">
		{{'NEW_TOPIC' | translate}}
	</div>
	<div class="body">
		<div class="margin-fix">
			<form>
				<p>
					<input class="full" placeholder="Title" ng-model="title">
				</p>
				<p>
					<textarea class="full" placeholder="Post" ng-model="contents"></textarea>
				</p>
				<p>
					<tags-input add-from-autocomplete-only="true" ng-model="tag_ids" display-property="name">
						<auto-complete class="tag-select" source="newTopicCtrl.loadTags()"></auto-complete>
					</tags-input>
				</p>
				<p>
					<button class="highlight full" ng-click="newTopicCtrl.addTopic(title, contents, tag_ids)"><i ng-show="newTopicCtrl.submitting" class="icon-refresh icon-spin"></i> Post</button>
				</p>
			</form>
		</div>
	</div>
</div>