<p>
	<button ng-show="newTopicCtrl.auth" ng-click="newTopicCtrl.toggleNTP()" class="highlight"><i class="fa" ng-class="{ 'fa-minus': newTopicCtrl.showNTP, 'fa-plus': newTopicCtrl.showNTP == false }"></i> New Topic</button>
	<tag-list></tag-list>
</p>
<div ng-show="newTopicCtrl.showNTP" class="panel" ng-show="newTopicCtrl.auth">
	<div class="end">
		New Topic
	</div>
	<div class="body">
		<div class="margin-fix">
			<form>
				<p>
					<input class="full" placeholder="Title" ng-model="title">
				</p>
				<p>
					<textarea class="full" placeholder="Post" ng-model="contents"></textarea>
				</p>
				<p>
					<tags-input add-from-autocomplete-only="true" ng-model="tag_ids" display-property="name">
						<auto-complete source="newTopicCtrl.loadTags()"></auto-complete>
					</tags-input>
				</p>
				<p>
					<button class="highlight" ng-click="newTopicCtrl.addTopic(title, contents, tag_ids)">Post</button>
				</p>
			</form>
		</div>
	</div>
</div>
