<div infinite-scroll='topics.updateList()' infinite-scroll-disabled='topics.busy' infinite-scroll-distance='1'>
	<ul class="box list-list highlight">
		<li class="list-item" ng-repeat="topic in topics.list">
			<img class="list-avatar" alt="avatar" ng-src="{{topic.avatar_url}}">
			<div class="list-title"><a ng-href="#/topic/{{ topic.id }}">{{ topic.title }}</a></div>
			<div class="list-stats"><a class="list-author" ng-href="#/user/{{topic.author}}">{{ topic.author_name }}</a> <span class="list-details">posted {{ topic.post_date | relativeDate }} / <topic-tags tag-items="topic.tag_ids"></topic-tags> / {{ topic.reply_count }} replies</span></div>
		</li>
	</ul>
	<p class="loading" ng-show="topics.busy" ng-hide="topics.end"><i class="fa fa-2x fa-refresh fa-spin"></i></p>
	<h2 class="results-end loading" ng-show="topics.end"><i class="fa fa-check-circle"></i> You've made it to the last topic!</h2>
</div>