<div class="load-error" ng-show="topic.error"><i class="fa fa-2x fa-exclamation-triangle"></i> Loading failed.</div>
<div class="loading" ng-hide="topic.loaded"><i class="fa fa-2x fa-refresh fa-spin"></i></div>
<div class="topic-op" ng-show="topic.loaded" ng-hide="topic.error">
	<ul class="box list-list">
		<li class="list-item first-post">
			<div class="list-avatar"></div>
			<div class="list-stats">{{ topic.post.author_name }} <span class="list-time">posted {{ topic.post.post_date | relativeDate }}</span></div>
			<div class="list-contents">{{ topic.post.contents }}</div>
		</li>
	</ul>
</div>
<hr>