<div class="nav">
	<nav-btn route-url="/topics" route-name="{{'HEADER_TOPICS' | translate}}" route-icon="icon-forum"></nav-btn>
	<nav-btn route-url="/users" route-name="{{'HEADER_USERS' | translate}}" route-icon="icon-people"></nav-btn>
	<auth-status class="f-right"></auth-status>
</div>
<div class="undernav">
	<span class="news">
		Welcome to this forum. Maybe news here?
	</span>
	<nav-btn class="f-right" route-url="/usercp" route-icon="icon-settings"></nav-btn>
	<nav-btn class="f-right" route-url="/search" route-icon="icon-search"></nav-btn>
</div>