<div class="panel">
	<div class="end" translate="REGISTER"></div>
	<div class="body">
		<div class="margin-fix">
			<form>
				<span ng-show="registerCtrl.error">{{registerCtrl.errorMessage | translate}}</span>
				<p>
					<input class="full" placeholder="{{'USERNAME' | translate}}" ng-model="user">
				</p>
				<p>
					<input type="email" class="full" placeholder="{{'EMAIL_ADDR' | translate}}" ng-model="email">
				</p>
				<p>
					<input type="password" class="full" placeholder="{{'PASSWORD' | translate}}" ng-model="pass">
				</p>
				<p>
					<span translate="PASSWD_SECURITY"></span> 
					<entropy-indicator class="full" password="pass" percentage="percentage"></entropy-indicator>
				</p>
				<p>
					<button ng-disabled="(percentage < 25 && registerCtrl.enforce) || percentage == null" class="highlight" ng-click="registerCtrl.register(user, email, pass)" translate="REGISTER"></button>
				</p>
				<p translate="NOTICE_ACTIVATE"></p>
			</form>
		</div>
	</div>
</div>
