<p>
	<button ng-click="newTopicCtrl.toggleNTP()" class="highlight"><i class="fa" ng-class="{ 'fa-minus': newTopicCtrl.showNTP, 'fa-plus': newTopicCtrl.showNTP == false }"></i> New Topic</button>
	<button><i class="fa fa-tags"></i> Tags</button>
</p>
<div ng-show="newTopicCtrl.showNTP" class="panel">
	<div class="end">
		New Topic
	</div>
	<div class="body">
		<div class="margin-fix">
			<form>
			<p>
				<input class="full" placeholder="Title">
			</p>
			<p>
				<textarea class="full" placeholder="Post"></textarea>
			</p>
			<p>
				<button class="highlight">Post</button>
				<button ng-click="newTopicCtrl.toggleNTP()">Hide</button>
			</p>
			</form>
		</div>
	</div>
</div>