<p>
  <button ng-click="replyCtrl.toggleNTP()" class="highlight"><i class="fa" ng-class="{ 'fa-minus': replyCtrl.showNTP, 'fa-plus': replyCtrl.showNTP == false }"></i> New Topic</button>
  <button><i class="fa fa-tags"></i> Tags</button>
</p>
<div ng-show="replyCtrl.showNTP" class="panel">
  <div class="end">
    New Topic
  </div>
  <div class="body">
    <div class="margin-fix">
      <form>
        <p>
          <input class="full" placeholder="Title">
        </p>
        <p>
          <textarea class="full" placeholder="Post"></textarea>
        </p>
        <p>
          <button class="highlight">Post</button>
          <button ng-click="replyCtrl.toggleNTP()">Hide</button>
        </p>
      </form>
    </div>
  </div>
</div>
