<div class="panel">
	<div class="end" translate="LOGIN"></div>
	<div class="body">
		<div class="margin-fix">
			<form>
				<p>
					<input class="full" placeholder="{{'USERNAME' | translate}}" ng-model="user">
				</p>
				<p>
					<input type="password" placeholder="{{'PASSWORD' | translate}}" class="full" ng-model="pass">
				</p>
				<p>
					<button class="highlight" ng-click="loginCtrl.login(user, pass)" translate="LOGIN"></button>
				</p>
				<p><a href="#/resetpass" translate="FORGOTTEN_PASS"></a></p>
			</form>
		</div>
	</div>
</div>
