<div class="panel">
	<div class="end">
		Register
	</div>
	<div class="body">
		<div class="margin-fix">
			<form>
				<p>
					<input class="full" placeholder="Username" ng-model="user">
				</p>
				<p>
					<input type="email" class="full" placeholder="Email Address" ng-model="email">
				</p>
				<p>
					<input type="password" class="full" placeholder="Password" ng-model="pass">
				</p>
				<p>
					<entropy-indicator class="full" password="pass" percentage="percentage"></entropy-indicator>
				</p>
				<p>
					<button class="highlight" ng-click="registerCtrl.register(user, email, pass)">Register</button>
				</p>
				<p>
					You will need to activate your account with the email that we're going to send you before you can post.
				</p>
			</form>
		</div>
	</div>
</div>
