<div>
	<div class="load-error" ng-show="users.error"><i class="fa fa-2x fa-exclamation-triangle"></i> Loading failed.</div>
	<p class="loading" ng-hide="users.loaded"><i class="fa fa-2x fa-refresh fa-spin"></i></p>
	<ul class="box list-list highlight">
		<li ng-repeat="user in users.list">
			<img class="list-avatar" alt="avatar" ng-src="{{user.avatar_url}}">
			<div class="list-title">{{ user.username }}</div>
			<div class="list-details"><span class="list-time">registered {{ user.date_joined | date: 'mediumDate' }} / {{ user.posts.length }} posts</span></div>
		</li>
	</ul>
</div>